@charset "utf-8";

/*
   Fit For Fun Style Sheet
   Author: Winter Mahana
   Date:   6/18/2021

   Filename:         styles.css

*/

/* Body Styles */
html {
  background-color: #dce5e6;
}
header {
  border: 5px solid #00203fff;
  padding: 0px;
  margin: 20px;
  color: #00203fff;
  text-align: center;
  font-size: 25pt;
}
body {
  font-family: "Open Sans";
  color: #00203fff;
  font-size: 30px;
  text-align: center;
}
h1{
  font-size: 35pt;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00203fff;
}
img {
  border-radius: 10px;
}
.container, .center {
  border: 10px solid #00203fff;
  padding: 8px;
  margin:40px;
  height: 650px;
  color: #00203fff;
  text-align: center;
  border-radius: 10px;
}

/* Navigation Styles */

nav {
  padding-left: 45px;
  padding-right: 45px;
}
li a:hover {
  background-color: #dce5e6;
  color: #00203fff;
}
li {
  float: left;
}
li a {
  display: block;
  color: #dce5e6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Form Styles */

input[type=text], select, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 1px;
  margin-bottom: 16px;
  resize: vertical;
  text-align: center;
}
input[type=submit] {
  background-color: #00203fff;
  color: #dce5e6;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 10%;
  margin-top: 15pt;
}
input[type=submit]:hover {
  background-color: #dce5e6;
  color: #00203fff;
  font-weight: bold;
}
input[type=email] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 1px;
  margin-bottom: 16px;
  resize: vertical;
  text-align: center;
}
input[type=tel] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 1px;
  margin-bottom: 16px;
  resize: vertical;
  text-align: center;
}
input[type=checkbox] {
  margin-left: 1px;
  margin-right: 25px
}
.center {
  border-radius: 5px;
  background-color: #dce5e6;
  padding-left: 75px;
  padding-right: 75px;
  width: 70%;
  margin:auto;
}
.container {
  height: 500px;
}
label {
  color: #00203fff;
  font-size: 15pt;
}
fieldset {
  border: 3px solid #00203fff;
}
.contact {
  text-align: center;
}
.bold {
  font-weight: bold;
}

/* Table Styles */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 18pt;
  font-weight: bold;
}
th {
  background-color: #00203fff;
  color: #dce5e6;
}

/* Footer Styles */
footer {
  background-color: #00203fff;
  color: #dce5e6;
  font-size: 15pt;
  padding-bottom: 5pt;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
